@model IEnumerable<Test_App.Models.Employee>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<h3>Employees</h3>

<a asp-action="Create" class="btn btn-primary mb-2">Add Employee</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.FullName</td>
            <td>@e.Email</td>
            <td>@e.Phone</td>
            <td>@e.Salary</td>
            <td>
                @if (!string.IsNullOrEmpty(e.Photo))
                {
                    <img src="~/EmployeeImages/@e.Photo" width="60" />
                }
            </td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@e.EmployeeId"
                   class="btn btn-sm btn-warning">
                    Edit
                </a>

                @if (role == "Admin")
                {
                    <form id="deleteForm-@e.EmployeeId"
                          asp-action="Delete"
                          asp-route-id="@e.EmployeeId"
                          method="post"
                          style="display:inline">

                        <button type="button"
                                class="btn btn-sm btn-danger"
                                onclick="confirmDelete(@e.EmployeeId)">
                            Delete
                        </button>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
    function confirmDelete(empId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This employee will be deleted!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm-' + empId).submit();
            }
        });
    }
</script>
