@model IEnumerable<Test_App.Models.Employee>

<h3>Employees</h3>

<a asp-action="Create" class="btn btn-primary mb-2">Add Employee</a>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Photo</th>
        <th>Action</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.FullName</td>
            <td>@e.Email</td>
            <td>@e.Phone</td>
            <td>@e.Salary</td>
            <td>
                @if (!string.IsNullOrEmpty(e.Photo))
                {
                    <img src="~/EmployeeImages/@e.Photo" width="60" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@e.EmployeeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@e.EmployeeId"
                   onclick="return confirm('Delete this employee?')">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>
